---
import type { PokemonData } from "../../interfaces/pokemons-data.response";
interface Props {
  url: string;
  name: string;
  isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;

const response = await fetch(url);
const data = (await response.json()) as PokemonData;
const id = url.split("/").at(-2);
---

<!-- href={`/pokemon/${id}`} -->
<a
  href={`/pokemons/${name}`}
  class:list={[
    `rounded flex flex-col justify-center items-center p-2`,
    { border: !isBig },
  ]}
>
  <img
    transition:name={`${name}-image`}
    src={data.sprites.other?.["official-artwork"].front_default}
    alt={name}
    class:list={[{ "w-56 h-56": isBig, "w-26 h-26": !isBig }]}
  />
  <span class:list={[`capitalize`, { "text-4xl text-blue-300": isBig }]}
    >#{id} - {name}</span
  >
</a>
