---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";

// import PokemonCard from "../../components/pokemons/PokemonCard.astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";

export const getStaticPaths = (async () => {
  const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");

  const { results } = (await response.json()) as PokemonListResponse;

  // return results.map(({ name, url }) => ({
  //   params: { id: url.split("/").at(-2) },
  //   props: { name, url },
  // }));

  return results.map(({ name, url }) => {
    const id = url.split("/").at(-2);

    return {
      params: { id: url.split("/").at(-2) },
      props: { name, url },
    };
  });
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const { name, url } = Astro.props;
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<MainLayout title="Algún Pokémon">
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div>
      <a href="/">Regresar</a>
      <h1 class="text-3xl capitalize">{name}</h1>
    </div>
    <PokemonCard name={name} url={url} isBig />
    <audio controls class="mt-10">
      <source src={audioSrc} type="audio/ogg" />
      Audio no soportado.
    </audio>
  </section>
</MainLayout>

<style>
  @reference "tailwindcss";
  a {
    @apply hover:underline text-blue-500;
  }
</style>
